@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/RobotoCondensed-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-width: 320px;
  height: 100%;
  font-size: 16px;
  line-height: 1.4;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body,
p,
li,
figure,
figcaption,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.header__logo {
  padding: 0 20px;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
  font-size: 25px;
  border-radius: 5px;
  text-transform: uppercase;
}

.header__logo:hover {
  background: #8974e6;
  color: #fff;
}

.header__join,
.header__started {
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid #8974e6;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.header__join:hover,
.header__started:hover {
  background: #8974e6;
  color: #fff;
}

.menu {
  width: 100%;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.menu__content li {
  white-space: nowrap;
}

.menu__content a {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.menu__content a:hover {
  background: #8974e6;
  color: #fff;
}

.menu .burger {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.menu .burger .line {
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.menu .burger .line2,
.menu .burger .line3 {
  top: 13px;
}

.menu .burger .line4 {
  bottom: 0;
}

.menu #checkbox,
.menu .burger {
  display: none;
}

.menu #checkbox:checked + label > .burger > .line1 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 5%;
      -ms-transform-origin: 5%;
          transform-origin: 5%;
  width: 41px;
}

.menu #checkbox:checked + label > .burger > .line2 {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  background-color: transparent;
}

.menu #checkbox:checked + label > .burger > .line3 {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  background-color: transparent;
}

.menu #checkbox:checked + label > .burger > .line4 {
  -webkit-transform-origin: 5%;
      -ms-transform-origin: 5%;
          transform-origin: 5%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 41px;
}

.menu #checkbox:checked ~ .menu__box {
  max-height: 300px;
  font-size: 16px;
}

.header__body {
  margin-top: 20px;
}

.header__body-title {
  position: absolute;
  max-width: 480px;
  padding-top: 90px;
  font-size: 62px;
  z-index: 1;
  font-size: calc(28px + 34 * ((100vw - 320px) / 780));
}

.header__body-bg {
  position: relative;
}

.header__body-bg img {
  padding-left: 134px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}

.header__body-contacts {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 20px;
  background-color: #8974e6;
}

.header__body-contacts a {
  display: inline-block;
  padding: 20px;
  color: inherit;
}

.header__body-contacts i {
  padding-right: 10px;
  color: #fff;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats__content p {
  padding: 30px 50px 20px 0;
  line-height: 1.75;
}

.stats__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__line .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 30px;
  width: 200px;
  height: 200px;
  background-color: #f6f5f4;
}

.stats__line .square-stats {
  margin-bottom: 15px;
  font-size: 40px;
  color: #7b60f5;
}

.stats__line .square-text {
  font-size: 18px;
}

.apartments__slider {
  position: relative;
  padding: 20px 0 50px;
  overflow: hidden;
}

.apartments__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apartments__slider .slick-arrow {
  position: absolute;
  bottom: 0;
  width: 2.5rem;
  height: 3rem;
  margin: 10px 0 10px;
  background: #fff;
  border: none;
  outline: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 1;
}

.apartments__slider .slick-prev {
  left: 30%;
  border: 1px solid #7b60f5;
  border-radius: 50% 0 0 50%;
}

.apartments__slider .slick-prev:hover {
  -webkit-box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5;
          box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5;
}

.apartments__slider .slick-next {
  right: 30%;
  border: 1px solid #7b60f5;
  border-radius: 0 50% 50% 0;
}

.apartments__slider .slick-next:hover {
  -webkit-box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5;
          box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5;
}

.card__box {
  margin: 5px 5px 20px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.card__box:hover {
  background: #fafaf9;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card__box img {
  height: 300px;
}

.card__box-item {
  padding: 25px;
}

.card__box-item p {
  padding-bottom: 20px;
}

.card__box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__box-info .money {
  font-size: 18px;
  color: #7b60f5;
  font-weight: bold;
}

.card__box-info .info span:first-child {
  margin-right: 18px;
}

.card__box-info .info i {
  margin-right: 8px;
}

.button-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.button-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  max-width: 400px;
  border: 1px solid #8974e6;
  border-radius: 8px;
}

.button-search i {
  padding: 10px;
  color: #919eb1;
}

.button-search form input[type=text] {
  width: 100%;
  height: 60px;
  border: none;
}

.button-search form input[type=submit] {
  padding: 0 30px;
  height: 60px;
  background: #8974e6;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.button-search form input[type=submit]:hover,
.button-search form input[type=submit]:focus,
.button-search form input[type=submit]:active {
  color: #fff;
  -webkit-box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5;
          box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5;
}

.button-search .all {
  width: 250px;
  text-align: center;
  line-height: 60px;
  border-radius: 8px;
  border: 1px solid #8974e6;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.button-search .all:hover,
.button-search .all:focus,
.button-search .all:active {
  -webkit-box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5;
          box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5;
}

.steps__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}

.steps__num {
  position: absolute;
  top: -135px;
  left: -30px;
  font-size: 200px;
}

.steps__item {
  position: relative;
  margin: 0 15px;
  padding: 130px 20px 50px 40px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.steps__item:hover {
  background: #7b60f5;
  color: #fff;
}

.steps__item h3 {
  text-transform: uppercase;
}

.steps__item span {
  display: inline-block;
  margin-right: 20px;
}

.steps__item p {
  line-height: 1.75;
  padding: 40px 0 40px 20px;
}

.steps__item .link {
  display: inline-block;
  color: #000;
  border-bottom: 3px solid #000;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.services__content-text {
  width: 50%;
  margin-left: 40px;
}

.services__content-text h4 {
  font-size: 25px;
  text-transform: uppercase;
}

.services__content-text p {
  margin: 15px 0 30px;
  line-height: 1.75;
}

.agents__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}

.agent__item {
  margin: 5px 10px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.agent__item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.agent__item-info {
  padding: 20px;
}

.agent__item-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 0;
}

.agent__item .name {
  color: #8974e6;
  font-style: italic;
}

.agent__item .social a {
  padding: 0 10px;
  color: #8974e6;
  font-size: 30px;
}

.add__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.add__box-img {
  position: relative;
}

.add__box-img img {
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}

.add__box-img .location {
  position: absolute;
  bottom: -25px;
  left: 0;
  padding: 25px 75px 25px 50px;
  background: #8974e6;
  font-size: 18px;
}

.add__box-img i {
  margin-right: 20px;
}

.add__box-text {
  width: 50%;
  padding-left: 50px;
  line-height: 1.75;
}

.add__box-text h3 {
  padding-bottom: 30px;
  text-transform: uppercase;
}

.add__box-text .show-more {
  width: 50%;
  margin: 50px auto;
  padding: 25px 0;
  text-align: center;
  background: #8974e6;
  -webkit-box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5;
          box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.add__box-text .show-more:hover,
.add__box-text .show-more:focus,
.add__box-text .show-more:active {
  background: #2b0c74;
}

.add__box:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.add__box:nth-child(2) .add__box-text {
  padding: 30px 50px 0 0;
}

.footer {
  background: #7b60f5;
  color: #fff;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  border-bottom: 2px solid #fff;
}

.footer__logo {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

.footer__search {
  max-width: 400px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__search input {
  width: 100%;
  height: 100%;
  padding-left: 27px;
  color: #919eb1;
}

.footer__search-btn {
  width: 100px;
  background: transparent;
  border: 1px solid #fff;
  border-left: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.footer__search-btn:hover {
  -webkit-box-shadow: 0 0 30px #fff;
          box-shadow: 0 0 30px #fff;
}

.footer__search span {
  display: block;
  padding-bottom: 5px;
  font-size: 30px;
  color: #fff;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px 30px 0;
}

.footer__links-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer__links span {
  color: #2b2d2f;
}

.footer .btn-up {
  position: absolute;
  bottom: 30px;
  right: 70px;
  width: 70px;
  height: 70px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  -webkit-animation: move 1s infinite;
          animation: move 1s infinite;
}

@-webkit-keyframes move {
  0% {
    padding-top: 20px;
  }

  50% {
    padding-top: 0;
  }

  100% {
    padding-top: 20px;
  }
}

@keyframes move {
  0% {
    padding-top: 20px;
  }

  50% {
    padding-top: 0;
  }

  100% {
    padding-top: 20px;
  }
}

header,
main,
section,
footer {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 0 calc(50% - 550px);
}

section {
  margin-top: 100px;
}

body {
  font-family: "RobotoCondensed", sans-serif;
  overflow-x: hidden;
  color: #101010;
}

.section-title {
  max-width: 365px;
  text-transform: uppercase;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  font-size: calc(28px + 12 * ((100vw - 320px) / 780));
}

.subtitle {
  display: block;
  padding: 20px 0 10px;
  line-height: 1.75;
}

@media (max-width: 1200px) {
  header,
  main,
  section,
  footer {
    padding: 0 calc(50% - 440px);
  }
}

@media (max-width: 992px) {
  header,
  main,
  section,
  footer {
    padding: 0 calc(50% - 380px);
  }

  .stats,
  .steps__box,
  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .steps__item {
    margin: 10px 100px;
  }

  .services__content-text {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .agent__item-descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .agent__item .social a {
    padding: 0 5px;
    font-size: 18px;
  }

  .footer .btn-up {
    right: 20px;
  }
}

@media (max-width: 768px) {
  header,
  main,
  section,
  footer {
    padding: 0 calc(50% - 230px);
  }

  section {
    margin-top: 50px;
  }

  .header {
    margin: 0;
    padding-top: 50px;
  }

  .header__logo,
  .header__actions {
    padding: 10px 0 20px;
  }

  .header__body-bg img {
    padding-left: 0;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #8974e6;
    z-index: 10;
  }

  .menu__box {
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .menu__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 10px 20px;
  }

  .menu a {
    width: 100%;
    text-align: center;
  }

  .menu a:hover {
    border: 2px solid #fff;
  }

  .menu li {
    width: 100%;
  }

  .menu label {
    display: block;
    padding: 5px;
  }

  .menu .burger {
    display: block;
  }

  .button-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .button-search form {
    margin: 20px 0;
    width: inherit;
  }

  .steps__item {
    margin: 10px 0;
  }

  .add__box:nth-child(2),
  .add__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }

  .add__box-text {
    width: 100%;
    padding: 30px 0 0 0;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__search {
    height: 50px;
  }
}

@media (max-width: 480px) {
  header,
  main,
  section,
  footer {
    padding: 0 calc(50% - 140px);
  }

  .section-title {
    max-width: 280px;
  }

  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__body-title {
    padding-top: 10px;
  }

  .header__body-contacts {
    position: inherit;
  }

  .header__body-contacts a {
    padding: 10px 20px;
  }

  .stats__line,
  .agents__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 30px 10px 0;
  }

  .footer__links-item {
    margin: 10px 20px;
  }
}